.projects {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

@font-face {
  font-family: 'CustomFont'; /* Name to reference the font */
  src: url('../assets/Urbanist-Medium.ttf') format('truetype'); /* Path to your font file */
  /* You can add additional font properties here if needed */
}

.custom-font {
  font-family: 'CustomFont', sans-serif; /* Apply the custom font */
  /* Additional styling for your <h1> tag */
}
